<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue practice</title>
    <script src='vue.js'></script>
</head>

<body>
    <div id="app">
        {{message}}
    </div>
    <div id="app-2">
        <input v-bind:placeholder="message">
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">Now you see me</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message">
    </div>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'hello vue.js!'
        }
    })

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: (new Date()).getSeconds()
        }
    })

    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    })

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [{
                text: '喝水'
            }, {
                text: '早睡'
            }]
        }
    })

    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: '张博元'
        },
        methods: {
            reverseMessage: function() {
                this.message = this.message.split('').reverse().join('');
            }
        }
    })

    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'lalala'
        }
    })
    </script>
</body>

</html>
