@charset "UTF-8";
/*
 *   Created by Boyuan.   2016/5/27
 */
/* 变量定义 */
/*----------------------------------------------------*/
/* 顶部 */
/*----------------------------------------------------*/
.top {
  height: 36px;
  background-color: #34495e; }

.top-holder {
  width: 1140px;
  margin: 0 auto; }
  .top-holder .left, .top-holder a {
    float: left;
    height: 36px; }
    .top-holder .left .ico, .top-holder a .ico {
      width: 18px;
      height: 16px;
      margin-top: 8px;
      background: url("../images/icons.png") no-repeat; }
    .top-holder .left .p, .top-holder a .p {
      margin-left: 5px; }
  .top-holder a {
    line-height: 36px;
    display: block;
    color: #fdfef9;
    font-size: 14px; }
  .top-holder .right {
    float: right; }
    .top-holder .right .separator, .top-holder .right .slash {
      margin: 0 20px;
      line-height: 36px;
      float: left;
      color: #fdfef9;
      font-size: 16px; }
    .top-holder .right .slash {
      margin: 0 4px; }

/* 首部导航 */
/*----------------------------------------------------*/
.header {
  width: 1180px;
  margin: 0 auto;
  padding: 10px 0; }
  .header img {
    float: left; }
  .header .chose-sch {
    float: left;
    width: 150px;
    height: 40px;
    margin: 6px 0 0 18px;
    padding-left: 20px;
    border-left: 2px solid #ddd; }
    .header .chose-sch p {
      font-size: 14px;
      line-height: 14px;
      color: #5c5c5c; }
    .header .chose-sch a {
      display: inline-block;
      margin-top: 6px;
      padding: 4px;
      line-height: 12px;
      border: 1px solid #ddd;
      font-size: 12px;
      color: #a0a0a0; }
  .header .nav {
    float: right;
    margin-right: 28px; }
    .header .nav .in-this-page {
      color: #00caab; }
    .header .nav li {
      float: left;
      margin-left: 60px;
      height: 52px;
      line-height: 52px; }
    .header .nav .talking-sort {
      width: 110px;
      background: url("../images/icons.png") no-repeat 100px -18px;
      margin-right: -20px; }
    .header .nav a {
      font-size: 16px;
      color: #5c5c5c; }

/* 内容区 */
/*----------------------------------------------------*/
/*
/* 表单 */
/*-----------------------------*/
.form-holder {
  width: 1180px;
  margin: 40px auto;
  background: url("../images/talk_guide.gif") no-repeat right top; }
  .form-holder .index-title {
    display: inline-block;
    line-height: 25px;
    font-weight: normal;
    font-size: 20px;
    color: #5c5c5c;
    text-indent: 20px;
    border-left: 3px solid #00caab; }

.form-list {
  padding: 26px 0 0 14px; }
  .form-list > li {
    margin-bottom: 24px;
    width: 848px;
    border-bottom: 1px dashed #cfcfcf; }
  .form-list .input {
    margin: 0 0 24px 5px; }
  .form-list input[type="text"] {
    display: inline-block;
    margin-right: 5px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    text-indent: 8px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
    .form-list input[type="text"] input::-moz-placeholder {
      font-size: 12px;
      color: #c2c2c2; }
    .form-list input[type="text"] input::-webkit-input-placeholder {
      font-size: 12px;
      color: #c2c2c2; }
  .form-list input:focus {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 0 1px 2px #00caab;
    -webkit-box-shadow: 0 0 1px 2px #00caab;
    -moz-box-shadow: 0 0 1px 2px #00caab;
    border: 1px solid #00caab; }
  .form-list .title {
    margin-right: 5px;
    font-size: 16px;
    color: #828282; }
  .form-list .must-be-formed:before {
    position: relative;
    top: 5px;
    left: -5px;
    content: "*";
    color: #f27a7a; }
  .form-list .input-362px {
    width: 362px; }
  .form-list .input-100px {
    width: 100px; }
  .form-list .input-75px {
    width: 75px; }
  .form-list .hint {
    margin-left: 5px;
    color: darkgray; }
  .form-list .with-ico {
    height: 20px;
    line-height: 20px;
    margin: 12px 0 0 70px;
    text-indent: 20px;
    color: darkgray;
    background: url("../images/icons.png") no-repeat -65px -81px; }

.form-1 select {
  width: 100px;
  height: 30px;
  margin-right: 5px;
  padding: 0 14px 0 25px;
  border: 1px solid #e8e8e8;
  color: darkgray;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../images/icons.png") no-repeat 78px -102px; }

.form-2 input[type="radio"] {
  display: none; }
.form-2 label {
  cursor: pointer; }
.form-2 .check-box {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../images/radio.gif") no-repeat -14px 0; }
.form-2 input[type="radio"]:checked + span {
  background-position: 0 0; }

.form-3 .img-uploader {
  display: inline-block;
  width: 109px;
  height: 72px; }
.form-3 #img-uploader {
  display: none; }
.form-3 .img-uploader {
  margin: 18px 0 0 70px; }

.form-4 .talk-content {
  margin: 8px 0 0 87px; }
.form-4 .submit {
  display: block;
  width: 102px;
  height: 40px;
  margin: 30px 0 0 565px;
  background: url("../images/submit.jpg") no-repeat; }
.form-4 .RTE {
  display: inline-block; }

/* 底部信息栏
/*----------------------------------------------------*/
.footer {
  width: 100%;
  height: 140px;
  background: #34495e; }

.footer-holder {
  width: 1180px;
  height: 100%;
  margin: 0 auto; }
  .footer-holder .contact-icon {
    float: left;
    height: 100%;
    padding: 46px 0; }
    .footer-holder .contact-icon img {
      float: left; }
    .footer-holder .contact-icon .weibo {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 5px 0 0 28px;
      background: url("../images/icons.png") no-repeat -42px 0; }
    .footer-holder .contact-icon .weixin {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 5px 0 0 14px;
      background: url("../images/icons.png") no-repeat -42px -40px; }
  .footer-holder .about {
    float: right;
    height: 100%;
    padding: 48px 0;
    text-align: right; }
    .footer-holder .about a {
      margin-left: 28px;
      font-size: 14px;
      color: #fdfef9; }
    .footer-holder .about p {
      margin-top: 8px;
      font-size: 12px;
      color: #fdfef9; }

/*# sourceMappingURL=main.css.map */
