* {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    line-height: 50px;
    &-nav {
        display: inline-block;
        width: 75%;
        text-align: center;
        background-color: skyblue;
        &-item {
            display: inline-block;
            width: 33%;
        }
    }
    &-search {
        display: inline-block;
        width: 25%;
        text-align: center;
        background-color: yellow;
        &-btn {
            font-size: 14px;
        }
        &-sText {
            margin-left: 8px;
            text-indent: 4px;
        }
    }
}

@mixin room {
    width: 10px;
}


.room-s a{
    @include room;
}
















