<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My todo list</title>
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=0.8" />
</head>

<body>
    <div id="todolist">
        <fieldset>
            <legend>Gift for my sweet heart 超超♥︎</legend>
            <div class="input-group">
                <label for="todo-name">Together we will do:</label>
                <input type="text" id="input-name" v-model="newTodo.name">
            </div>
            <div class="input-group">
                <label for="input-deadline">due date:</label>
                <input type="date" id="input-deadline" v-model="newTodo.deadline">
            </div>
            <div class="input-group">
                <label></label>
                <button @click="addTodo">Add</button>
                <template><span class="tips">{{tips}}</span></template>
            </div>
            <img src="http://o6x2vif88.bkt.clouddn.com/6381CBD509069C53F7057A09CBE641BC.jpg" alt="our pic" class="pic">
        </fieldset>
        <table>
            <thead>
                <tr>
                    <th>Todos</th>
                    <th>Due date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <template>
                    <tr v-for="todo in todos">
                        <td>{{todo.name}}</td>
                        <td>{{todo.deadline}}</td>
                        <td :class="'text-center'">
                            <button @click="removeTodo($index)">Done</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
    <script src="vue.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
